@import url('https://fonts.googleapis.com/css?family= Abhaya+Libre| EB+Garamond|Galada|Judson|Ibarra+Real+Nova|Lato|Lobster|Martel|Neuton|Noto+Serif|Open+Sans|PT+Serif+Caption|Playfair+Display+SC|Roboto|Unna&display=swap');
:root {
    --primary-color: #41c0d1;
    --secondary-color: #1b9bff;
    --main-font: 'Martel', 'Noto Serif';
    --content-font: 'Judson', 'Abhaya Libre';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: azure;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: var(--primary-color);
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.color-change {
    color: azure;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('https://res.cloudinary.com/kemkem-dev/image/upload/v1586952325/kemss_ciluwh.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.1;
    margin: 0 0 1.4rem;
}

.showcase-content p {
    font-weight: 300;
    font-size: 1.4rem;
    font-family: var(--content-font);
    padding: 2rem;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 1 rgba(0, 0, 0, 0.45);
    border-radius: 20px;
}

.btn:hover {
    background: #fff;
    color: #1b9bff;
    opacity: 0.9;
    transition: all .5s ease;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 2rem;
}

#interest-content {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1rem;
    margin-top: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.bio,
.about-me,
.contact {
    padding: 1rem;
    box-shadow: 3 10px 6px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    box-sizing: border-box;
    background: #f2f2f2;
}

.bio,
.about-me,
.contact p {
    font-size: 1.2rem;
    color: #333;
    font-family: var(--content-font);
}

.bio,
.about-me,
.contact h2 {
    font-family: var(--content-font);
}

.place,
.email a {
    padding: 0 2px;
}

.social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.2s;
}

.place a span:hover,
.social a span:hover {
    background: var(--primary-color);
}

.place a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-top: 1rem;
    border-radius: 50px;
    transition: 0.2s;
}

.email a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    color: #fff;
    line-height: 40px;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.phone a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    color: #fff;
    line-height: 40px;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.text {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: var(--content-font);
    color: #333;
}

footer {
    width: 100%;
    background: #f2f2f2;
    color: #333;
    margin-top: 30px;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
}

.content p {
    text-align: justify;
    font-size: 1rem;
    font-family: var(--content-font);
}

.social {
    margin: 20px 0 0 0;
}

.social a {
    padding: 0 2px;
}

.text2 {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: var(--content-font);
    margin-top: 15px;
}

.text-form {
    font-size: 1.1rem;
    font-weight: 400;
}

form input[type="email"] {
    margin-top: 5px;
    height: 25px;
    width: 280px;
    padding: 20px;
    background: #f2f2f2;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

form textarea {
    margin-top: 5px;
    height: 70px;
    width: 280px;
    padding: 20px;
    background: #f2f2f2;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

.form-btn {
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-family: var(--content-font);
    font-weight: 300;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.form-btn:hover {
    background: #333;
    transition: 3s;
}

.last-footer {
    font-size: 1rem;
    text-align: center;
    align-self: center;
    padding: 5px;
    font-family: var(--content-font);
    background: #f2f2f2;
}

.last-footer span {
    color: #656565;
}

.last-footer a {
    color: var(--primary-color);
    text-decoration: none;
}

.last-footer a:hover {
    text-decoration: underline;
}

@media (max-width: 980px) {
    .showcase {
        height: 60vh;
    }
    .showcase-content h1 {
        font-size: 3.5rem;
        margin-top: 4.5rem;
    }
    .showcase-content p {
        font-size: 2.3rem;
        margin-top: 1.2rem;
        letter-spacing: 1px;
        font-weight: lighter;
        padding: 1.5rem;
    }
    .btn-xl {
        font-size: 2rem;
        padding: 1.4rem 1.5rem;
        margin-top: 2.5rem;
    }
    .showcase-top a {
        font-size: 2.5rem;
    }
    #interest-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .bio,
    .about-me,
    .contact p {
        padding: 30px;
    }
    .box h2 {
        font-size: 1.3rem;
        margin-top: 10px;
    }
    .box,
    .content p {
        font-size: 1.2rem;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
    footer {
        margin-top: 30px;
    }
    .form-btn {
        display: block;
        width: 30%;
    }
}
